__pycache__/
*.pyc
ids_backup.py
*.bak

agent-config*.json
agent-credentials.json
agent-status.json
*.key
.venv/
agent-status.sqlite3*
**/bin/
**/obj/
admin-audit.sqlite3*
.env
.env.*
*.pem
*.pfx
*.p12
settings.json
*.zip
